/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/dispersions/*
/public/assets/uploads/*
/public/assets/projects/*
/public/assets/geotiff/*
/public/assets/aermet/*
/storage/*.key
/python/*.OUT
/python/__pycache__/*
/vendor
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/*.OUT
/*.MAXFIL
/*.SUM
ISHD_discard.txt
ISHD_replace.txt